@import "reset";
@import "variables/variables";
@import "themes/themes";
@import "common";

body {
  background: var(--bg-default-color);
  color: var(--fg-default-color);
  font: var(--font-m);
}

.app {
  height: 100vh;
  background: var(--bg-default-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  height: calc(100vh - var(--navbar-height));
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}
