* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

svg,
svg * {
  width: 100%;
  height: 100%;
  overflow-clip-margin: content-box;
  fill: currentcolor;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar:horizontal {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--bg-default-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--bg-inset-color);
}
