.LoginForm {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.textBlock {
  text-align: center;
  margin-bottom: var(--padding-m);
}

.inputWrapper {
  margin-bottom: var(--padding-m);
}

.button {
  margin-left: auto;
  margin-top: var(--padding-2xl);
}
