.Text {
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
}

.title {
  font: var(--font-xl);
}

.error {
  font: var(--font-m);
}

.default {
  color: var(--fg-default-color);
}

.danger {
  color: var(--danger-color);
}
