.default {
  display: inline-block;
  padding: var(--padding-s);
  transition: background-color 0.3s;
  border-radius: var(--border-radius-lg);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--bg-hover-color);
    }
  }
}
