.popover {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--fg-default-color);
  cursor: pointer;
  outline: none;
}

.list {
  position: absolute;
  background: var(--bg-default-color);
  padding: var(--padding-xs);
  box-shadow: var(--box-shadow-exnternal);
  border-radius: var(--border-radius-lg);
}
