.transition {
  transition: 0.1s ease-out;
}

.opacity {
  transform: scale(0.95);
  opacity: 0;
}

.full {
  transform: scale(1);
  opacity: 1;
}

.optionsBottomLeft {
  top: calc(100% + var(--padding-s));
  right: 0;
}

.optionsBottomRight {
  top: calc(100% + var(--padding-s));
  left: 0;
}

.optionsTopRight {
  bottom: calc(100% + var(--padding-s));
  left: 0;
}

.optionsTopLeft {
  right: 0;
  bottom: calc(100% + var(--padding-s));
}