.button {
  line-height: 0;
}

.icon {
  width: 20px;
  height: 20px;
  fill: none;

  path {
    fill: none;
  }
}

.popover {
  width: 340px;
}

.drawer {
  width: 100%;
  padding: var(--padding-m);
}