.Button {
  display: inline-block;
  color: var(--fg-default-color);
  cursor: pointer;
  background-color: transparent;
  font: var(--font-m);

  &:not(.clear) {
    &.padding-s {
      padding: var(--padding-s);
    }

    &.padding-m {
      padding: var(--padding-s) var(--padding-l);
    }

    &.padding-l {
      padding: var(--padding-xs) var(--padding-xl);
    }
  }
}

.default {
  transition: background-color 0.3s;
  border-radius: var(--border-radius-lg);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--bg-hover-color);
    }
  }
}

.primary {
  color: var(--white-color);
  transition: background-color 0.3s;
  border-radius: var(--border-radius-lg);
  background-color: var(--primary-color);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primary-hover-color);
    }
  }
}

.background {
  border: 1px solid var(--btn-border-color);
  color: var(--btn-fg-color);
  transition: background-color 0.3s, border 0.3s;
  background-color: var(--btn-bg-color);
  border-radius: var(--border-radius-lg);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--btn-bg-hover-color);
      border: 1px solid var(--btn-border-hover-color);
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
