.Navbar {
   display: flex;
   width: 100%;
   height: var(--navbar-height);
   background: var(--inverted-bg-color);
   padding: 0 20px;
   color: var(--inverted-primary-color);
   align-items: center;
   justify-content: flex-end;
   gap: 15px;
}
