.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-inset-color);
  padding: 0 20px;
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid var(--border-default-color);
}
