.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.inputWrapper {
  background: transparent;
  border: 1px solid var(--border-default-color);
  transition: 0.3s;
  border-radius: var(--border-radius-lg);

  &:focus-within {
    border-color: var(--accent-color);
  }

  input {
    background: none;
    border: none;
    padding: var(--padding-m) var(--padding-l);
    color: var(--fg-default-color);
    outline: none;
  }

  &.error {
    border-color: var(--danger-color);
  }
}

.readonly {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
