.item {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  color: var(--fg-muted-color);
}

.iconWrapper {
  width: 18px;
  height: 18px;
}

.link {
  white-space: nowrap;
}

.collapsed {
  display: none;
}
