.EditableProfileCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: var(--padding-2xl);
}

.row {
  display: flex;
  gap: var(--padding-l);
}
